* { box-sizing: border-box; }

#scenario {
  width: 100%;
  height: 800px;
  background-image: url("images/mapa.jpg");
  border: thin solid black;
  position: relative;
}

#player {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
  background-color: none;
  border-radius: 50%;


}

#Elise{
  width:80px;
}

.bullet {
  width: 10px;
  height: 10px;
  background-image: "cocoon.png" ;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  animation: fire 0.5s steps(100) ;
}

@keyframes fire {
  0% { margin-left: 25px; }
  100% {
    margin-left: 150px;
  }
}
